# --- Configurações Globais (Compartilhadas) ---
PUID=1000
PGID=1000
TZ=America/Sao_Paulo
MEDIA_ROOT=/mnt/media

# --- Plex Configs ---
PLEX_CONFIG=./config/plex

# --- Media Stack Configs (Arr-Suite) ---
JELLYFIN_CONFIG=./config/jellyfin
QBIT_CONFIG=./config/qbit
SONARR_CONFIG=./config/sonarr
RADARR_CONFIG=./config/radarr
PROWLARR_CONFIG=./config/prowlarr
BAZARR_CONFIG=./config/bazarr

# --- Credenciais e URLs ---
QBIT_USER=admin
QBIT_PASS=adminadmin
JELLYFIN_URL=http://192.168.0.x
